<nav class="navbar navbar-fixed-top">
    <div class="container" style="background-color: #000000; padding: 5px;display: block;">    
          <table>
            <tr>
            <td style="width:400px; color:white; font-size:10pt;"><a href="/"><img width="180px" src="/img/AppDynamicsLogo.svg"/></a>BiQ Apps</td>
            <td></td>
            <td><div id="spinnerDiv"></div></td>
            </tr>
          </table>      
    </div>
</nav>