<nav class="navbar navbar-fixed-top">
	<div style="background-color: #000000; padding: 5px;display: block;">
      <div style="width: 100%; height:30px;">
          <table style="width:600px;">
            <tr>
                <td style="width:300px; color:white; font-size:10pt;"><a href="/"><img width="180px" src="/img/AppDynamicsLogo.svg"/></a>BiQ Apps</td>
                <td style="width:200px;">
                    <div style="padding-left:15px;">
                        <select id="timeRange" class="biq_input">
                            <option value="15">Last 15 Minutes</option>
                            <option value="30">Last 30 Minutes</option>
                            <option value="1h">Last 1 Hour</option>
                            <option value="3h">Last 2 Hours</option>
                            <option value="3h">Last 3 Hours</option>
                            <option value="6h">Last 6 Hours</option>
                            <option value="12h">Last 12 Hours</option>
                            <option value="1d">Last 1 Day</option>
                            <option value="2d">Last 2 Days</option>
                            <option value="3d">Last 3 Days</option>
                            <option value="1w">Last 1 Week</option>
                            <option value="2w">Last 2 Weeks</option>
                            <option value="3w">Last 3 Weeks</option>
                            <option value="1m">Last 1 Month</option>
                            <option value="2m">Last 2 Months</option>
                            <option value="3m">Last 3 Months</option>
                        </select>
                  </div>
                </td>
                <td  style="width:100px;">
                    <div id="spinnerDiv"></div>
                </td>
		    </tr>
          </table>
      </div>
    </div>
</nav>
