bin/
pkg/
.DS_Store
*.pyc
*.swp
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/
.project
.eclipse.buildship.core.prefs
release/wi-kubernetes-manifests.yaml
# CI/CD dev work files
/hack
# dev work cheat sheet
useful-commands.txt
#local istio for dev work
istio-1.8.0/
#local AppD machine agent and TE custom monitor files for dev work
AppD-TE-Custom-Monitor/custom-monitor
AppD-TE-Custom-Monitor/custom-monitor-image
AppD-TE-Custom-Monitor/configuration.env
AppD-TE-Custom-Monitor/te-appd-custom-monitor.yaml