<!-- Left Menu -->
<div class="logo">
    <a class="navbar-brand" href="/">
        <img style="margin-left: 80px" width="75px" src="/img/Cisco.svg"/>
    </a>
</div>
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav">
        <nav class="navbar-sidebar">
           <ul class="list-unstyled navbar__list">
                <li><a href="/" ><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                <li><a href="/" ><i class="fa fa-sitemap"></i> Operational Intelligence</a></li>
                <li><a href="/" ><i class="fa fa-car"></i> Traffic Performance</a></li>
                <li><a href="/views/appd.html" ><i class="fa fa-line-chart"></i> <img width="120px" src="/img/AppDynamicsLogo.svg"/></a></li>
                <li><a href="/" ><i class="fa fa-users"></i> Administration</a></li>
            </ul>
        </nav>
    </div>
</div>