<!-- Left Menu -->
<div class="logo">
    <a class="navbar-brand" href="/">
        <img style="margin-left: 80px" width="75px" src="/img/Cisco.svg"/>
    </a>
</div>
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav">
        <nav class="navbar-sidebar">
           <ul class="list-unstyled navbar__list">
                <li><img width="150px" src="/img/AppDynamicsLogo.svg"/></li>
                <div id="spinnerDiv"></div>
                <li style="margin-bottom:25px">
                    <ul class="nav" id="time"></ul>
                </li>
                <li><a href="#" ><i class="fa fa-download"></i> Devices</a></li>
                <li><a href="#" ><i class="fas fa-desktop"></i> Apps</a></li>
                <li><a href="#" ><i class="fa fa-database"></i> Data</a></li>
                <li><a href="/views/examples/intro.html" ><i class="fa fa-book"></i> Docs</a></li>
            </ul>
            <div id="filter"></div>
        </nav>
        
    </div>
</div>