<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboard</title>
<meta charset="UTF-8">
<% include ../includes/prism %>
<% include ../partials/theme %>
<% include head %>
</head>
<body>
    <div class="wrapper">
        <!-- Menu -->
		<%- include ./menu %>
		<div class="page-container">  
            <div class="container-fluid">
                <!-- Main Page -->
                <div class="row">
                    <div class="col">
                        <h2 class="pb-2 display-5">Getting Started</h2>
                       <p>The best way to get started using this framework is to :</p>
                        
                        <div class="vue-lists">
                            <ul>
                                <li>Review the components documentation</li>
                                <li>Review the example apps and look at the source</li>
                                <li>Start editing the newdash.html and starting using the components</li>
                                <li>Edit the config.json and provide your api keys so you can start adding ADQL queries to your components</li>
                                <li>Review the examples</li>
                            </ul>
                        </div>
                        <p>For help you can send an email to biq-apps [@] appdynamics.com</p>
                        <p>Find us on GitHub</p>
                        <p>Visit our community page here : [TODO]</p>
                    </div>
                </div>
            </div>
		</div>
    </div>
</body>

</html>
