 <!-- MENU SIDEBAR-->
 <aside class="menu-sidebar ">
        <div class="logo">
            <a href="#">
                <img width="180px" src="/img/AppDynamicsLogo.svg" alt="AppDynamics" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li>
                        <a href="intro.html" ><i class="fa fa-comments"></i> BiQ Apps - Intro</a>
                    </li>
                    <li>
                        <a href="gettingstarted.html" ><i class="fa fa-cubes"></i> Getting Started</a>
                    </li>
                    <li>
                            <a href="layout.html" ><i class="fa fa-code fa-fw"></i> UI</a>
                    </li>
                    <li>
                        <a href="boxcomponent.html" ><i class="fa fa-cube"></i> Box Component</a>
                    </li>
                    <li>
                        <a href="piechart.html" ><i class="fa fa-chart-pie"></i> Pie Charts</a>
                    </li>
                    <li>
                        <a href="donutchart.html" ><i class="fa fa-dot-circle"></i> Donut Charts</a>
                    </li>
                    <li>
                        <a href="timechart.html"><i class="fa fa-chart-line"></i> Time Charts</a>
                    </li>
                    <li>
                        <a href="table.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                    </li>
                    <li>
                        <a href="sankeys.html"><i class="fa fa-sitemap fa-fw"></i> Sankeys</a>
                    </li>
                    <li>
                        <a href="examples.html"><i class="fa fa-cloud"></i> Example Apps</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->
